/AppData.class
/Course.class
/CourseGroup.class
/CourseType.class
/DuplicateKeyException.class
/EndSemesterException.class
/Gender.class
/Grade.class
/Group.class
/KeyErrorException.class
/MaxCapacityException.class
/Person.class
/PrimaryKeyManager.class
/Professor.class
/Program.class
/SCRAME.class
/SaveData.class
/School.class
/Semester.class
/SortByName.class
/SortByNameComparator.class
/Student.class
/StudentType.class
